/* ============================================= */
/*                   Variables                   */
/* ============================================= */

// Colors
$white: white;
$main-purple: #7477bf;
$border-grey: #cccccc;
$bg-color: #f7f7f7;
$primary-blue: rgba(116, 119, 191, 1);