/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.grid-container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
    background-color: #4d4c72;
}
main {
    grid-area: main;
    .dash-header {
        display: grid;
        grid-template-columns: 1fr 7fr;
    }
}


@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 12fr;
        grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
        grid-template-areas: 
        "header header"
        "nav main";
    }
    .traffic-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "traffic traffic"
        "daily mobile";
        .traffic {
            grid-area: traffic;
        }
        .daily {
            grid-area: daily;
            // background-color: #4d4c72;
        }
        .mobile {
            grid-area: mobile;
            // .dash-header {
            //     display: grid;
            //     grid-template-columns: 1fr 7fr;
            // }
        
        }
    }

    .social-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px;
        grid-column-gap: 15px;
        grid-auto-rows: minmax(100px, auto);
    }
}

