/* ============================================= */
/*                     header                    */
/* ============================================= */

.head-container {
    display: flex;
    justify-content: space-between;
    background-color: $main-purple;
    color: $white;
    h1 {
        font-size: 20px;
    }
    span {
        font-size: 12px;
    }
    .head-item {
        padding: 9px;
        display: flex;
        align-items: center;
    }
    .border-left {
        border-left: solid 1.5px $border-grey;
        padding-left: 8px;
    }

}

@media (min-width: 768px) {
    .head-container {
        span {
            font-size: 20px;
            padding-left: 15px;
        }
        h1 {
            font-size: 30px;
        }
        .head-item {
            padding: 15px;
        }
        .border-left {
            padding-left: 15px;
        }
    }
}
