/* ============================================= */
/*                     Images                    */
/* ============================================= */

.bell {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding-left: 0;
    transition: transform .4s ease-out;
}
.bell:hover {
    transform: rotate(45deg) scale(1);
}
.bell-outline {
    fill: $white;
}
.nav-icons {
    fill: $white;
    width: 35px;
    height: 35px;
    text-decoration: none;
}
.profile-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto 0;
}
.victoria-img {
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 50%;
}
.social-icon {
    width: 70px;
    height: 70px;
    background: $primary-blue;
    fill: $white;
    padding: 9px;
    border-radius: 50%;
}
.social-image {
    padding: 0 15px;
}

@media (min-width: 768px) {
    .bell {
        height: 45px;
        width: 45px;
        stroke: $white;
    }
    .victoria-img {
        width: 60px;
        height: 60px;
    }
    .social-icon {
        width: 60px;
        height: 60px;
    }
    .social-image {
        display: flex;
        align-items: center;
    }
}
    
