/* ============================================= */
/*                     Images                    */
/* ============================================= */

.bell {
    height: 45px;
    width: 45px;
    stroke: $white;
    padding-right: 10px;
}

.bell-outline {
    fill: $white;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav-icons {
    fill: $white;
    width: 35px;
    height: 35px;
    text-decoration: none;
}

@media (max-width: 320px) {
    .bell {
        width: 30px;
        height: 30px;
    }
}