/* ============================================= */
/*                      Main                     */
/* ============================================= */

main {
    background-color: $white;
    .grey-tab {
        background-color: $bg-color;
        border-bottom: $border-grey solid 1.5px;
    }
    h2.dash-tab {
        background-color: $white;
        width: 120px;
        padding: 15px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        border-right: $border-grey solid 1.5px;
        font-size: 18px;
        font-weight: 380;
    }
    .alert {
        background-color: $main-purple;
        color: $white;
        width: 90%;
        border-radius: 10px;
        padding: 0 15px;
        margin: 0 auto;
        margin-top: 15px;
        .alert-banner {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (min-width: 768px) {
    main {
        .grey-tab {
            border-bottom: $border-grey solid 3px;
        }
        h2.dash-tab {
            border-right: $border-grey solid 3px;
            width: 180px;
            font-size: 25px;
        }
        .alert {
            width: 95%;

        }
    }
}

/* ============================================= */
/*            Traffic Section                    */
/* ============================================= */

section {
    padding: 0 15px;
    border-bottom: $border-grey solid 1.5px;
    .traffic-hd {
        display: block;
        margin-top: 20px;
    }
    .traffic-ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding-left: 0;
    }
    .traffic-ul li {
        display: inline;
        margin-left: 10px;
        cursor: pointer;
        padding: 10px;
    }
    .active {
        background-color:#81c98f;
        border-radius: 20px;
        color: $white;
        padding: 10px;
    }
}
.mobile .widget-container-half{
    height: 200px;
}

@media (min-width: 768px) {
    section {
        padding-bottom: 30px;
        border-bottom: $border-grey solid 3px;    
        .traffic-ul {
            font-size: 20px;
        }
        .traffic-hd {
            display: flex;
            justify-content: space-between;
            margin-top: 0;
        }
        .traffic-ul li {
            margin-left: 20px;
        }
        .traffic-title {
            padding: 10px;
        }
        
    }
    .daily {
        border-right: 3px solid $border-grey;
    }
    .mobile .widget-container-half{
        height: 200px;
        margin: 0 auto;
    }
}

/* ============================================= */
/*            Social Status Section              */
/* ============================================= */

.social-text {
    padding-top: 25px;
    p:first-child {
        color: $primary-blue;
        font-weight: 400;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    p:last-child {
        font-size: 40px;
        margin-top: 0;
        color: #777777;
    }
}
.social-container {
    display: flex;
    align-items: center;
    background: $bg-color;
    border: 2.3px solid $border-grey;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 100px;
}

@media (min-width: 768px) {
    .social-text {
        padding-top: 0;
        p:first-child {
            font-size: 18px;
            margin-top: 19px;
        }
        p:last-child {
            font-size: 35px;
        }
    }
    .social-container {
        margin-bottom: 0;
        align-items: initial;
    }
}
/* ============================================= */
/*         New Members & Activity Section        */
/* ============================================= */

.members-container {
    display: block;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: $border-grey solid 1.8px;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.members-container:last-child {
    border-bottom: none;
}
.members-text {
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
        color: $primary-blue;
    }
}
.activity p.right-align {
    display: none;
    color: $dark-grey;
    font-size: 25px;
}

@media (min-width: 768px) {
    .members, .activity {
        padding-bottom: 0;
    }    
    .members-container {
        display: flex;
        justify-content: space-between;
        border-bottom: $border-grey solid 2.3px;
        .right-align {
            padding-top: 15px;
        }
    }
    .members-text {
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        margin-left: 17px;
        padding-top: 15px;
        flex: 1;
    }
    .activity p.right-align {
        display: block;
    }
}

@media (min-width: 1024px) {
    .members {
        border-right: solid $border-grey 2.3px;
    }
}

/* ============================================= */
/*               Message User                    */
/* ============================================= */

.message {
    padding-bottom: 15px;
    input, textarea {
        width: 100%;
        background: $bg-color;
        border: 2.3px solid $border-grey;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 15px;
    }
    input::placeholder, textarea::placeholder {
        color: $border-grey;
    }
    button {
        width: 100%;
        background: $primary-blue;
        color: $white;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 2.3px solid $border-grey;
    }

}

@media (min-width: 1024px) {
    .message {
        border-right: solid $border-grey 2.3px;
    }
}

/* ============================================= */
/*                   Settings                    */
/* ============================================= */

.setting-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.switch-light {
    width: 30%;
    margin-top: 9px;
    span {
        span {
            text-align: left;
            padding-left: 15px;
        }
    }
}
.switch-ios.switch-light a {
    width: 21px;
    height: 21px;
    border: 1.5px solid $border-grey;
    top: 2px;
}
.settings {
    padding-bottom: 15px;
    select {
        width: 100%;
        background: $bg-color;
        border: 2.3px solid $border-grey;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        button {
            border: $border-grey 2px solid;
            border-radius: 10px;
            padding: 10px;
            width: 48%;
            color: $white;
        }
        button:first-child {
            background: $primary-blue;
        }
        button:last-child {
            background: #999999;
        }
    }
}

@media (min-width: 768px) {
    .setting-container {
        width: 40%;
        justify-content: space-between;
    }
    .switch-light {
        width: 20%;
    }
    .settings {
        .buttons button {
            width: 49%;
        }
    }
    .switch-ios.switch-light a {
        border: 2px solid $border-grey;
    }
}

@media (min-width: 1024px) {
    .setting-container {
        width: initial;
        padding-bottom: 20px;
    }
    .settings {
        .buttons button {
            padding: 15px;
            border: solid $border-grey 2.3px;
        }
        select {
            padding: 15px;
        }
        .select-buttons {
            margin-top: 92px;
        }
    }
}