/* ============================================= */
/*                  Navigation                   */
/* ============================================= */

.nav-ul {
    list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
}
.nav-li {
    padding-bottom: 0;
    margin-right: 15px;

}

nav {
    display: flex;
    justify-content: space-around;

}

@media (min-width: 768px) {
    .nav-ul {
        flex-direction: column;
    }

    .nav-li {
        padding-bottom: 20px;
        margin-right: 0;
    }
    .nav-li:last-child {
        padding-right: 0;
    }
}
    

