/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.border-left {
    border-left: solid 2px #a2a5bd;
}

